API_ID=24523897
API_HASH=e581880ff82e201ce3dd007f06384074
BOT_TOKEN=5953802361:AAGI-QOMhKYOwfqzFmR-NJDc3TcKMQ2ylz4
LOG_GROUP_ID=-1001605285063
MONGO_DB_URI=mongodb+srv://shivam0:shivam098@shivam0.yu9flzq.mongodb.net/?retryWrites=true&w=majority&appName=shivam0
MUSIC_BOT_NAME=˹ᴀɴɢᴇʟ ダ ʀᴏʙᴏᴛ˼ 🫧
OWNER_ID=5242142514
STRING_SESSION=BQAq0rjexdITnKPm7fl0RwXlyJVrBgUxydJuddwZOYPlTkfABhDPoMkGI4fAf9hDoPoVlfj_vPrry5qxv_o7LqanB9dcuuGADMAsDuWIjL1RnRmJX8CrN6dIS75Z2s8PaoWujkPcY4l4Wu32Jc7obn2B3nGWKd_1ME3rVNMWhJ2AtPGWzvVT_5ymosEvqtYkg8mZzNr_uebseon5L57ymCa9s5dR9Ms7U0sbQjBHp0ELaEMgrGOJBqE-WV9lu1_jw326fog99kHh8yFj-oxZTk6XEerTZXE3C-8dygm5vCx2u3G279ojlH0OONObauZ2RsR2Vy6USFLBy4tYkN6Uxnj1AAAAAXvJcQYA